<!-- Section -->
{{ $section := .section }}
<section id="{{ .section.section_id }}" class="hero">
    {{ if or $section.image .Site.Data.author.avatar }}<img src="{{ if $section.image }}{{ $section.image | relURL }}{{ else }}{{ $.Site.Data.author.avatar | relURL }}{{ end }}"/>{{ end }}
    {{ if or $section.title $section.subtitle }}
    <div>
        {{ if $section.title }}
        <h1>{{ $section.title }}</h1>
        {{ end }}
        {{ if $section.subtitle }}
        <h3>{{ $section.subtitle }}</h3>
        {{ end }}
    </div>
    {{ end }}
</section>
